page-home {

	#homeContainer {
		display: flex;
		flex-direction: column;
		height: 100%;

		.server-info-banner {
			display: flex;
			font-size: 1.6rem;
			align-items: center;
			min-height: 48px;

			> ion-icon {
				height: 38px;
				flex-basis: 38px;
				font-size: 3.8rem;
				margin-right: 10px;
			}

			.server-info {
				display: flex;
				flex: 1;
				flex-direction: column;
				justify-content: center;

				.server-info-ip {

				}

				.server-info-status {
					display: flex;

					.server-info-availability {
						color: getColor(secondary);
						margin-right: 5px;

						&.offline {
							color: getColor(danger);
						}
					}

					.server-info-version {

					}
				}
			}

			.refresh-button {
				flex-basis: 48px;
				display: flex;
				justify-content: center;
				align-items: center;
				align-self: stretch;

				> ion-icon {
					font-size: 2.8rem;
				}
			}
		}

		.recent-events-list {
			overflow: auto;

			ion-item-group {
				// border: 1px solid getColor(sectionHeader);

				.item {
					padding-left: 0;

					.event-container {
						display: flex;

						.event-type-icon {
							height: 38px;
							width: 38px;
							margin-right: 10px;
						}
					}


				}
			}
		}

		.open-button-container {
			display: flex;
			margin-top: auto;
			flex-direction: column;

			.open-button {
				height: 60px;
				width: 100%;
				box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.5);
				background-color: getColor(primary);
				color: getColor(textLight);
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				text-align: center;
				border-radius: 5px;
				font-size: 2.6rem;

				&:active {
					box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
					transform: translateY(5px);
				}

				margin-bottom: 15px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
