<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Preferences</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div class="ip-input-container">
		<ion-input [(ngModel)]="ipInput" type="text" placeholder="IP address of server"></ion-input>
		<button ion-button secondary class="text-light" (click)="checkIp()">
			<ion-icon *ngIf="busyCheckingIp === undefined" name="search"></ion-icon>
			<ion-icon *ngIf="busyCheckingIp === false && serverState.online === true" name="checkmark"></ion-icon>
			<ion-icon *ngIf="busyCheckingIp === false && serverState.online === false" name="close"></ion-icon>
			<ion-spinner *ngIf="busyCheckingIp === true"></ion-spinner>
		</button>
	</div>

	<div class="user-preferences-input-container">
		<div class="user-preferences-input-header">Username</div>
		<ion-input [(ngModel)]="userNameInput" type="text" placeholder="Username"></ion-input>
		<div class="user-preferences-bell-preference">
			<div class="user-preferences-bell-preferences-header">Doorbell Preference</div>
			<ion-item *ngFor="let bell of bellPreferences">
				<ion-label>{{bell.type}}</ion-label>
				<ion-checkbox class="bell-preference" checked="{{bell.active}}" (click)="toggleBell(bell)" ></ion-checkbox>
			</ion-item>
		</div>
		<button ion-button secondary class="text-light" (click)="saveUserPreferences(userNameInput, bellPreferences)">Save</button>
	</div>

</ion-content>
